body {
  overflow: hidden; }

.loading__monobank {
  width: 100%;
  height: 100vh;
  background: linear-gradient(180deg, #363342 0%, #282932 46.88%, #1C1B20 100%);
  overflow: hidden; }
  .loading__monobank .main {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%; }
    .loading__monobank .main .main__container {
      width: 100%;
      height: 130px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer; }
      .loading__monobank .main .main__container .h1 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 78px;
        color: #FFFFFF;
        animation-name: h1__loading;
        animation-duration: 2s;
        animation-iteration-count: 1; }
@keyframes h1__loading {
  0% {
    opacity: 0;
    position: relative;
    right: 20%; }
  20% {
    opacity: 0; }
  40% {
    opacity: 0; }
  100% {
    opacity: 1;
    position: relative;
    right: 0%; } }
      .loading__monobank .main .main__container .line {
        width: 7px;
        height: 130px;
        background: #7B7A81;
        margin-left: 25px;
        margin-right: 25px;
        animation-name: line__loading;
        animation-duration: 2s;
        animation-iteration-count: 1; }
@keyframes line__loading {
  0% {
    transform: skew(100deg); }
  100% {
    transform: skew(0deg); } }
      .loading__monobank .main .main__container .h2 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 78px;
        color: #7B7A81;
        animation-name: h2__loading;
        animation-duration: 2s;
        animation-iteration-count: 1; }
@keyframes h2__loading {
  0% {
    opacity: 0;
    position: relative;
    left: 20%; }
  20% {
    opacity: 0; }
  40% {
    opacity: 0; }
  100% {
    opacity: 1;
    position: relative;
    left: 0%; } }
  .loading__monobank .down {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: flex-end; }
    .loading__monobank .down .loading__img {
      width: 300px;
      height: 150px;
      position: relative;
      top: 50%;
      cursor: pointer;
      animation-name: cat__loading;
      animation-duration: 1s;
      animation-iteration-count: 1; }
@keyframes cat__loading {
  0% {
    position: relative;
    top: 300%;
    rotate: 80deg; }
  100% {
    position: relative;
    top: 50%;
    rotate: 0deg; } }
.wrap {
  width: 100%;
  height: 100vh;
  background: linear-gradient(180deg, #363342 0%, #282932 46.88%, #1C1B20 100%);
  overflow: hidden; }
  .wrap .main {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .wrap .main .wrap__card {
      width: 400px;
      height: 310px; }
    .wrap .main .button__container {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
      margin-top: 80px; }
      .wrap .main .button__container .wrap__button {
        width: 200px;
        height: 55px;
        background: #FA5255;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 39px;
        letter-spacing: 0.065em;
        color: #FFFFFF;
        margin-left: 20px;
        margin-right: 20px;
        border: none;
        cursor: pointer;
        transition: 0.5s;
        transition: background-color 550ms ease-out 5ms; }
        .wrap .main .button__container .wrap__button:hover {
          background: transparent;
          border: 1px solid #FA5255;
          transition: background-color 550ms ease-out 5ms; }
  .wrap .down {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: flex-end; }
    .wrap .down .loading__img {
      width: 300px;
      height: 150px;
      position: relative;
      top: 50%;
      cursor: pointer; }

@media screen and (max-width: 800px) {
  .loading__monobank {
    width: 100%;
    height: 100vh; }
    .loading__monobank .main {
      width: 100%;
      height: 90%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 5%; }
      .loading__monobank .main .main__container {
        width: 100%;
        height: 130px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer; }
        .loading__monobank .main .main__container .h1 {
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 700;
          font-size: 36px;
          line-height: 78px;
          color: #FFFFFF;
          animation-name: h1__loading;
          animation-duration: 2s;
          animation-iteration-count: 1; }
        .loading__monobank .main .main__container .line {
          width: 5px;
          height: 110px;
          background: #7B7A81;
          margin-left: 25px;
          margin-right: 25px;
          animation-name: line__loading;
          animation-duration: 2s;
          animation-iteration-count: 1; }
        .loading__monobank .main .main__container .h2 {
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 400;
          font-size: 36px;
          line-height: 78px;
          color: #7B7A81;
          animation-name: h2__loading;
          animation-duration: 2s;
          animation-iteration-count: 1; }
    .loading__monobank .down {
      width: 100%;
      height: 10%;
      display: flex;
      justify-content: center;
      align-items: flex-end; }
      .loading__monobank .down .loading__img {
        width: 200px;
        height: 100px;
        position: relative;
        top: 50%;
        cursor: pointer;
        animation-name: cat__loading;
        animation-duration: 1s;
        animation-iteration-count: 1; }
  @keyframes cat__loading {
    0% {
      position: relative;
      top: 300%;
      rotate: 80deg; }
    100% {
      position: relative;
      top: 50%;
      rotate: 0deg; } }
  .wrap .main {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .wrap .main .wrap__card {
      width: 300px;
      height: 250px; }
    .wrap .main .button__container {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
      margin-top: 80px; }
      .wrap .main .button__container .wrap__button {
        width: 170px;
        height: 50px;
        background: #FA5255;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 39px;
        letter-spacing: 0.065em;
        color: #FFFFFF;
        margin-left: 20px;
        margin-right: 20px;
        border: none;
        cursor: pointer;
        transition: 0.5s;
        transition: background-color 550ms ease-out 5ms; }
        .wrap .main .button__container .wrap__button:hover {
          background: transparent;
          border: 1px solid #FA5255;
          transition: background-color 550ms ease-out 5ms; }
  .wrap .down {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: flex-end; }
    .wrap .down .loading__img {
      width: 200px;
      height: 100px;
      position: relative;
      top: 50%;
      cursor: pointer; } }
@media screen and (max-width: 570px) {
  .loading__monobank .main .main__container .h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 78px;
    color: #FFFFFF;
    animation-name: h1__loading;
    animation-duration: 2s;
    animation-iteration-count: 1; }
  .loading__monobank .main .main__container .line {
    width: 4px;
    height: 90px;
    background: #7B7A81;
    margin-left: 25px;
    margin-right: 25px;
    animation-name: line__loading;
    animation-duration: 2s;
    animation-iteration-count: 1; }
  .loading__monobank .main .main__container .h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 78px;
    color: #7B7A81;
    animation-name: h2__loading;
    animation-duration: 2s;
    animation-iteration-count: 1; }
  .loading__monobank .down .loading__img {
    width: 200px;
    height: 100px;
    position: relative;
    top: 50%;
    cursor: pointer;
    animation-name: cat__loading;
    animation-duration: 1s;
    animation-iteration-count: 1; }
  @keyframes cat__loading {
    0% {
      position: relative;
      top: 300%;
      rotate: 80deg; }
    100% {
      position: relative;
      top: 50%;
      rotate: 0deg; } }
  .wrap .main .wrap__card {
    width: 280px;
    height: 230px; }
  .wrap .main .button__container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 80px; }
    .wrap .main .button__container .wrap__button {
      width: 150px;
      height: 45px;
      font-size: 16px; }
  .wrap .down .loading__img {
    width: 200px;
    height: 100px; } }
@media screen and (max-width: 480px) {
  .loading__monobank .main .main__container .h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 20px;
    color: #FFFFFF;
    animation-name: h1__loading;
    animation-duration: 2s;
    animation-iteration-count: 1; }
  .loading__monobank .main .main__container .line {
    width: 4px;
    height: 90px;
    background: #7B7A81;
    margin-left: 25px;
    margin-right: 25px;
    animation-name: line__loading;
    animation-duration: 2s;
    animation-iteration-count: 1; }
  .loading__monobank .main .main__container .h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 20px;
    color: #7B7A81;
    animation-name: h2__loading;
    animation-duration: 2s;
    animation-iteration-count: 1; }
  .loading__monobank .down .loading__img {
    width: 200px;
    height: 100px;
    position: relative;
    top: 50%;
    cursor: pointer;
    animation-name: cat__loading;
    animation-duration: 1s;
    animation-iteration-count: 1; }
  @keyframes cat__loading {
    0% {
      position: relative;
      top: 300%;
      rotate: 80deg; }
    100% {
      position: relative;
      top: 50%;
      rotate: 0deg; } } }
@media screen and (max-width: 405px) {
  .loading__monobank .main .main__container {
    display: flex;
    flex-direction: column; }
    .loading__monobank .main .main__container .h1 {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 20px;
      color: #FFFFFF;
      animation-name: h1__loading;
      animation-duration: 2s;
      animation-iteration-count: 1;
      margin-bottom: 10px; }
  @keyframes h1__loading {
    0% {
      opacity: 0;
      position: relative;
      right: 40%; }
    20% {
      opacity: 0; }
    40% {
      opacity: 0; }
    100% {
      opacity: 1;
      position: relative;
      right: 0%; } }
    .loading__monobank .main .main__container .line {
      display: none; }
    .loading__monobank .main .main__container .h2 {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 20px;
      color: #7B7A81;
      animation-name: h2__loading;
      animation-duration: 2s;
      animation-iteration-count: 1;
      margin-top: 10px; }
  @keyframes h2__loading {
    0% {
      opacity: 0;
      position: relative;
      left: 40%; }
    20% {
      opacity: 0; }
    40% {
      opacity: 0; }
    100% {
      opacity: 1;
      position: relative;
      left: 0%; } }
  .loading__monobank .down .loading__img {
    width: 200px;
    height: 100px;
    position: relative;
    top: 50%;
    cursor: pointer;
    animation-name: cat__loading;
    animation-duration: 1s;
    animation-iteration-count: 1; }
  @keyframes cat__loading {
    0% {
      position: relative;
      top: 300%;
      rotate: 80deg; }
    100% {
      position: relative;
      top: 50%;
      rotate: 0deg; } }
  .wrap .main .wrap__card {
    width: 280px;
    height: 230px; }
  .wrap .main .button__container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 50px; }
    .wrap .main .button__container .wrap__button {
      width: 150px;
      height: 45px;
      font-size: 16px;
      margin-top: 10px;
      margin-bottom: 10px; }
  .wrap .down .loading__img {
    width: 200px;
    height: 100px; } }

/*# sourceMappingURL=style.css.map */
